examples/flows/influxdb
[{"id":"d84acda1.662b58","type":"tab","label":"MQtt Persistence","disabled":false,"info":""},{"id":"8c3787c3.f2ff78","type":"mqtt in","z":"d84acda1.662b58","name":"Power Readings","topic":"+/power","qos":"2","datatype":"auto","broker":"9ed0b1d3.51a41","x":130,"y":120,"wires":[["baf90634.54ec9"]]},{"id":"4af111b0.71cbc","type":"debug","z":"d84acda1.662b58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":120,"wires":[]},{"id":"1e6027d7.5ed548","type":"influxdb out","z":"d84acda1.662b58","influxdb":"a32c0730.b69478","name":"","measurement":"","precision":"","retentionPolicy":"","x":950,"y":180,"wires":[]},{"id":"baf90634.54ec9","type":"function","z":"d84acda1.662b58","name":"Create Storage Entry","func":"\nvar topic = msg.topic.split(\"/\")\n\nvar json_body = [\n            {\n                'value': parseInt(msg.payload)\n            },\n            {\n                'location': topic[0]\n            }\n    ]\n\nmsg.payload = json_body\n\nmsg.measurement = topic[1]\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["1e6027d7.5ed548"]]},{"id":"fb65b37e.e31cf","type":"change","z":"d84acda1.662b58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[[]]},{"id":"9ed0b1d3.51a41","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a32c0730.b69478","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"balena-sense","name":"InfluxDB Balena-Sense","usetls":false,"tls":""}]

